.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
        width: 50%;
        height: 200px;
        background: lightgray;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;

        .homeButton {
            margin: 10px;
        }

        .link {
            text-decoration: none;
            color: #FFFFFF;
        }
    }

    .heading {
        font-size: 25px;
    }
}